* {
	direction: rtl;
}

@font-face {
	src: url(./assets/fonts/IRANSans.ttf);
	font-family: "IRANSans";
}

@font-face {
	src: url(./assets/fonts/Vazir.ttf);
	font-family: "Vazir";
}


/* .MuiInputBase-input{
	height: 0.8em!important;
} */
